.remit-service-container{
    padding: 0 40px;
    height: 100vh;

}

.remit-service-container .remit-form-column {
    border: 0px;
    width: 100%;
    margin-bottom: 40px;
    display: block;
    gap: 12px;
 }
 .remit-service-container .remit-form-column.width-fifth {
   width: 100%;
   /* float: left; */
}
.remit-service-container
.remit-form-column.width-fifth:not(:nth-child(4n + 0)) {
   margin-right: 0px;
}

.remit-service-container .remit-form-input,
.remit-service-container .remit-form-mobile-input, 
#phone{
  border: 2px solid #0072fe69;
  font-size: 28px;
  line-height: 20px;
  color: #212121;
  padding: 6px;
  height: 80px;
  border-radius: 10px;
  padding-left: 20px;
}

.remit-service-container .remit-form-label {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  opacity: .7;
  font-size: 22px;
  line-height: 20px;
  color: #656b72;
}
.remit-service-container .remit-info-box .remit-info-paragraph,
.remit-service-container .remit-info-box .remit-info-list li {
  font-size: 30px;
  line-height: 50px;
  color: #212121;
}
.remit-service-container .remit-button {
  padding: 16px 46px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  line-height: 16px;
  color: #fff;
  -webkit-appearance: none;
  margin-bottom: 100px;
}
.remit-service-container .remit-file-browse,
.remit-service-container .remit-change-btn {
  padding: 10px 23px;
  display: inline-block;
  cursor: pointer;
  border: none;
  font-size: 25px;
  line-height: 16px;
  background-color: rgb(49, 106, 238);
  color: #004ef74f;
  border-radius: 10px;

}
.remit-service-container .remit-form-column.width-third {
   width: 100%;
   display: block;
   /* float: left; */
}
.remit-service-container
   .remit-form-column.width-third:not(:nth-child(3n + 0)) {
   margin-right: 8px;
}

.remit-service-container .remit-form-input {
   width: 100%;
}

.remit-service-container .remit-form-input:focus {
   border-bottom: 1px solid #0072fe;
}
.remit-service-container .remit-form-input.select-field {
   padding: 4px;
   background-color: white;
   -webkit-appearance: none;
   -moz-appearance: none;
   -ms-appearance: none;
   -o-appearance: none;
   background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACABAMAAAAxEHz4AAAAHlBMVEUAAACfn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5/JNxnKAAAACXRSTlMADsjNxCnp57H+r/akAAABCklEQVRo3u3OoQ0CARAF0UOQIAkYLJISkHRwih4o4Dy0QEjIdssZbrA7Ce6PW/Gzb0gppZRS+k/rR39zGAe6vrbd/eo0/QBudRma7eo9AqiaCU1A1QSgqi5dQEHYVHUJM2Du/r3OtRAagHouP/cQOoAjNwQDgCABECwAggRAsAAIEgDBAiBIAAQLgCABECwAggRAsAAIEgDBAiBIAAQLgCABECwAggRAsAAIEgDBAiBIAAQLgCABECwAggRAsAAIEgDBAiBIAAQLgCABECwAggRAsAAIEgBBAyAAkAQAkgBAEgBIAgBJACAJAAwBgCQAsAQAkgDAEgBIAgBLACAJACRhO6SUUkop9foAvtRAWTi78jcAAAAASUVORK5CYII=);
   background-position: 100% center;
   background-repeat: no-repeat;
   background-size: 12px 12px;
}
.remit-service-container .remit-form-input.select-field.padding-left {
   padding-left: 42px;
}
.remit-alertbox-message, .remit-title-description, .remit-primary-title {
   font-family: "Open Sans", sans-serif;
   color: #656b72;
   size: 25px !important;
}
#remit-msg {
   font-size: 30px;
}
#disclaimer-btn, .remit-service-container * {
   font-size: 20px;
}
.remit-service-container .remit-form-mobile-input {
   width: 100%;
}
#phone-code {
   width: 90%;
}
#phone {
   width: 200%
}